#### Creating visuals with python

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
import pandas as pd
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']
pd.DataFrame(lst, columns= col, index = [i for i in range (1,4)])
pd.DataFrame(lst, columns= col, index = (1,2,3))

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [5]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])
print(f"Bold text: {array[:2]}")
print(f"Italics text: {array[1:2]}")

Bold text: [[94, 89, 63], [93, 92, 48]]
Italics text: [[93, 92, 48]]

In [14]:
import pandas as pd
data = pd.read_csv("C:/Users/Badru/Videos/Internship_hamoyeHQ/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")
data.head()

d1 =data.describe()
round_d1 = round(d1, 2)
round_d1['Y2017']

count     59437.00
mean        140.92
std        1671.86
min       -1582.00
25%           0.00
50%           0.10
75%           9.00
max      190873.00
Name: Y2017, dtype: float64

In [7]:
col_for_corr =  ['Element Code','Y2014','Y2015','Y2016','Y2017','Y2018']
corr_ele = data[col_for_corr].corr()['Element Code']
corr_ele.sort_values()

Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

#### Total number of missing data and Percentage in 2014

In [15]:
null_v  = data['Y2014'].isnull().sum()
count_year = data['Y2014'].count()
perc_year = round((null_v/ count_year) * 100, 3)
print(f"Total number of missing values: {null_v}")
print(f"The percentage of missing data: {perc_year}%")

Total number of missing values: 1589
The percentage of missing data: 2.677%

#### Count total Number of Unique countries

In [9]:
data['Area'].nunique()

49

In [10]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][1]
x = y[1][-1]
x

8

###

#### Tuples are ```'immutable'``` as it returns a ```'TypeError'```

In [11]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

#### A ```groupby``` operation to return the 7th lowest sum in 2017

In [ ]:


# Select columns 'Y2017' and 'Area'
selected_columns = ['Y2017', 'Area']
df_selected = data[selected_columns]

# Group by 'Area' and calculate the sum of 'Y2017' for each 'Area'
grouped = df_selected.groupby('Area')['Y2017'].sum().reset_index()

# Sort the values in ascending order to find the 7th lowest sum
sorted_areas = grouped.sort_values(by='Y2017', ascending=True)
# To obtain the 7th row
sorted_areas.iloc[6]

Area     Guinea-Bissau
Y2017         19102.77
Name: 21, dtype: object

##### Perform a groupby operation on ```‘Area’```.  Which of these Areas had the highest sum in 2017.

In [ ]:


# Select columns 'Y2017' and 'Area'
selected_columns = ['Y2017', 'Area']
df_selected = data[selected_columns]

grouped = df_selected.groupby('Area')['Y2017'].sum().reset_index()
sorted_grp = grouped.sort_values(by = 'Y2017', ascending = False)
sorted_grp.iloc[0]

Area        Nigeria
Y2017    1483268.23
Name: 34, dtype: object

In [ ]:


# Group by 'Element' and calculate the sum for each 'Element'
grouped = data.groupby('Element')['Y2017'].sum()

processing_sum_2017 = grouped.get('Processing')
processing_sum_2017

292836.0

In [16]:
protein_madagascar_2015 = data[(data['Area'] == 'Madagascar') & 
                             (data['Element'] == 'Protein supply quantity (g/capita/day)') & 
                             (data['Y2015'] > 0)]

# Calculate the total Protein supply quantity
total_protein_madagascar_2015 = protein_madagascar_2015['Y2015'].sum()

print("Total Protein supply:", total_protein_madagascar_2015, "g/capita/day")

Total Protein supply: 173.04999999999998 g/capita/day

In [ ]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

#### Total sum of Wine produced in 2015 and 2018

In [ ]:
d_2018 = data.groupby('Item')['Y2018'].sum().reset_index()
d_2018.loc[117]
d_2015 = data.groupby('Item')['Y2015'].sum().reset_index()
print(f" Total sum of wine produced in 2015 : {d_2015.loc[117]}")
print(f" Total sum of wine produced in 2018 : {d_2018.loc[117]}")

 Total sum of wine produced in 2015 : Item        Wine
Y2015    4251.81
Name: 117, dtype: object
 Total sum of wine produced in 2018 : Item        Wine
Y2018    4039.32
Name: 117, dtype: object

In [22]:
d_2018 = data.groupby('Item')['Y2018'].sum()
d_2015 = data.groupby('Item')['Y2015'].sum()
d_2018_wine = d_2018.get('Wine')
d_2015_wine = d_2015.get('Wine')

print(f"Total sum of wine produced in 2018: {d_2018_wine}")
print(f"Total sum of wine produced in 2015: {d_2015_wine}")

Total sum of wine produced in 2018: 4039.32
Total sum of wine produced in 2015: 4251.81