In [1]:
import numpy as np
c =  np.array([[9,8,7] , [1,2,4]])
d =  np.array([[1,2,3] ,  [5,4,6]])
result = c + d
print(result.dtype)

int32

#### Fuel Data
* Determine and fill ```NA``` values in the fuel unit column

In [2]:
import pandas as pd
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data = pd.read_csv(url) 
fuel_data.head()
fuel_data.describe(include= 'all')
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

#### Using ```'groupby'``` to categorise dataframe into different segments.
* Split the dataframe into groups then apply a function to the groups after which the results are combined.

In [3]:
fuel = fuel_data.groupby('fuel_unit')['fuel_unit'].count()
fuel_data['fuel_unit'] = fuel_data['fuel_unit'].fillna(value = 'mcf')
fuel_data.isnull().sum()

fuel

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

#### Merging Dataframes
* Checking for duplicates

In [4]:
df1 = fuel_data.iloc[0:2000].reset_index(drop = True)
df2 = fuel_data.iloc[2000:].reset_index(drop = True)
assert len(fuel_data) == (len(df1) + len(df2))
fuel_data = pd.merge(df1, df2, how = 'left')


pd.merge(df1, df2, how = 'inner')
pd.merge(df1, df2, how = 'right')

fuel_data.duplicated().any()

False

#### Creating visuals with python

In [5]:
# %pip install seaborn
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

#### Year with the highest fuel quantity burned

In [7]:
import seaborn as sns
import matplotlib.pyplot as plt
# qty_burned = fuel_data.groupby('report_year')['fuel_qty_burned'].sum()
fuel_unit11 = fuel_data['report_year']
data_fuel= {"t_burned": qty_burned, "t_fuel": fuel_unit11}
sns.barplot(data = data_fuel, x= "t_fuel", y = 't_burned')
plt.xticks(rotation=45)
plt.figure(figsize = (7,7))

NameError: name 'qty_burned' is not defined

In [ ]:
# for i in fuel_data.columns:
#     print(fuel_data[i] == 'fuel_unit')
filter_data = fuel_data[fuel_data['report_year'] == 1994]
fuel_burned = filter_data['fuel_qty_burned'].sum()
print(f"Total number of fuel burned: {fuel_burned}")

:

In [ ]:
fuel_data.groupby('report_year')['fuel_qty_burned'].sum()

:

In [ ]:
plt.figure(figsize = (7,6))
fuel_unit_count = fuel_data.groupby('fuel_unit')['fuel_unit'].count()
fuel_data1 = fuel_data['fuel_unit'].count()
dict_fuel = {"t_fuel" : fuel_data['fuel_unit'], "t_count": fuel_unit_count}
sns.barplot(data = dict_fuel,x = 't_fuel', y = 't_count')
plt.title('Count of each fuel unit')

:

In [ ]:
data = np.array([2,3,4,5,6,7,410])
df = pd.Series(data)
df

:

In [ ]:
import pandas as pd
data = pd.read_csv("C:/Users/Badru/Videos/Internship_hamoyeHQ/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")
data.head()

d1 =data.describe()
round_d1 = round(d1, 2)
round_d1

: