In [2]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, root_mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler

#### Importing the dataset

In [8]:
data3 = pd.read_csv("C:\\Users\\Badru\\Videos\Internship_hamoyeHQ\\energydata_complete.csv")
data3.head()

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\Badru\AppData\Local\Temp\ipykernel_20008\3955289598.py:1: SyntaxWarning: invalid escape sequence '\I'
  data3 = pd.read_csv("C:\\Users\\Badru\\Videos\Internship_hamoyeHQ\\energydata_complete.csv")

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

#### Training Model

In [9]:
x_train = data3[['T2']]
y_train = data3['T6']
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size= 0.2,  random_state = 42)  # 20% for testing and 80 for training

In [10]:
model = LinearRegression()
model.fit(x_train, y_train)
y_predict = model.predict(x_test)
mse = mean_squared_error(y_test, y_predict)
r_2 = r2_score(y_test, y_predict)
rmse = root_mean_squared_error(y_test, y_predict)
print(f"The root mean squared error {round(rmse, 3)}")

The root mean squared error 3.633

In [11]:

data_without_date = data3.drop(columns=['date' , 'lights'])
# data_without_date
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(data_without_date), columns= data_without_date.columns)
# # Drop 'date' and 'lights' columns from normalised_df
features_df = normalised_df.drop(columns=['Appliances'])
app_target = normalised_df['Appliances']
x_train,x_test, y_train,y_test = train_test_split(features_df, app_target, test_size = 0.3, random_state = 42)
# y_train
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)
# predicted_values
mae =  mean_absolute_error(y_test, predicted_values)
round(mae, 3)
#

0.05

In [ ]:

data3.drop(columns=['date', 'lights'], inplace=True)

# Define features and target variable
x = data3.drop(columns=['Appliances'])
y = data3['Appliances']

# Split dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Normalize the dataset
scaler = MinMaxScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

# Train the model
model = LinearRegression()
model.fit(x_train_scaled, y_train)

# Predict on training set
y_pred_train = model.predict(x_train_scaled)

# Calculate Mean Absolute Error for training set
mae_train = mean_absolute_error(y_train, y_pred_train)
print(f"Mean Absolute Error (training set): {round(mae_train, 3)}")

:

In [ ]:
from sklearn.preprocessing import MinMaxScaler
# import pandas as pd

# Load your data from the CSV file
# data = pd.read_csv('your_data.csv')
# Apply MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(data1), columns = data1.columns)


# Drop 'lights' column from normalised_df
features_df = normalised_df.drop(columns=['lights', 'date'])

# Assuming 'Appliances' is your target variable
app_target = normalised_df['Appliances']

x_train,x_test, y_train,y_test = train_test_split(features_df, app_target, test_size = 0.3, random_state = 42)
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
predicted_values = linear_model.predict(x_test)
from sklearn.metrics import mean_absolute_error
mae =  mean_absolute_error(y_test, predicted_values)
mae

: