In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, root_mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Lasso

#### Importing the dataset

In [15]:
data3 = pd.read_csv(r"C:\\Users\\Badru\\Videos\Internship_hamoyeHQ\\energydata_complete.csv")
data3.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [16]:
x_train = data3[['T2']]
y_train = data3['T6']
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size= 0.2,  random_state = 42)  # 20% for testing and 80 for training

#### Training Model

In [17]:
model = LinearRegression()
model.fit(x_train, y_train)
y_predict = model.predict(x_test)
mse = mean_squared_error(y_test, y_predict)
r_2 = r2_score(y_test, y_predict)
rmse = root_mean_squared_error(y_test, y_predict)
print(f"The root mean squared error {round(rmse, 3)}")

The root mean squared error 3.633

#### Training set

In [18]:

data_dropped = data3.drop(columns=['date', 'lights'], inplace=True)

# Define features and target variable
features_x = data3.drop(columns=['Appliances'])
target_y = data3['Appliances']

# Split dataset into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(features_x, target_y, test_size=0.3, random_state=42)
scaler = MinMaxScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)
model = LinearRegression()
model.fit(x_train_scaled, y_train)

y_pred_train = model.predict(x_train_scaled)

# Calculate Mean Absolute Error for training set
mae_train = mean_absolute_error(y_train, y_pred_train)
rmse = root_mean_squared_error(y_train, y_pred_train)
print(f"Mean Absolute Error(training set): {round(mae_train, 3)}")
print(f"Root mean squared error(training set): {round(rmse, 3)}")

Mean Absolute Error(training set): 53.743
Root mean squared error(training set): 95.216

#### Test set

In [19]:
y_pred_test = model.predict(x_test_scaled)
mae_test = mean_absolute_error(y_test, y_pred_test)
rmse_test = root_mean_squared_error(y_test, y_pred_test)
print(f"Mean Absolute Error(test set): {round(mae_test, 3)}")
print(f"Root mean squared error(test set): {round(rmse_test, 3)}")

Mean Absolute Error(test set): 53.643
Root mean squared error(test set): 93.64

#### Lasso Regression

In [20]:
lasso_model = Lasso()
lasso_model.fit(features_x, target_y)
feature_weights = lasso_model.coef_
non_zero_features = sum(feature_weights != 0)
print(f"Num of feature with non zero weights: {non_zero_features}")

Num of feature with non zero weights: 20

#### RMSE with Lasso Regression

In [21]:
y_pred_test = lasso_model.predict(x_test_scaled)

# Calculate RMSE

rmse_test = np.sqrt(mean_squared_error(y_test, y_pred_test))
print(f"RMSE with Lasso Regression: {round(rmse_test, 3)}")

RMSE with Lasso Regression: 143.881

c:\Users\Badru\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(